<%- include('header') %>
        <!--lista breve per informare l'utente che c'è stato un errore e di che tipo di errore si tratta, valore err ottenuto da app.js-->
        <ul class="list-group show-on-scroll is-visible">
            <li class="list-group-item"><h2>The city has not been found or an error has occurred, please try again. </h2></li>
            <li class="list-group-item">Error type:<%=err%> </li>
          
          </ul>





</body>
</html>