<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            24Weather
        </title>
        <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <!--titolo della pagina-->
        <h1 class="titleh"><a href="/"><span class="span24">24</span> Weather</a></h1>
          <!--form con metodo post-->
        <form action="/" method="post" class="central-form">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary input-group-text" id="inputGroup-sizing-default" type="submit" name="button">Find</button>
                </div>
                <input type="text"  id="cityInput"  name="cityName" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="e.g.=Milan,it">
              </div>
        </form>
