<%- include('header') %>
     <!--lista contenente il meteo dell'utente che verrà aggiornata grazie al file index.js-->
        <ul class="list-group show-on-scroll">
            <li class="list-group-item"> <h1>At your place</h1></li>
          </ul>




        <script type="text/javascript" src="js/config.js"></script>
        <script  type="text/javascript" src="js/index.js" ></script> 
</body>
</html>