<html>
    <head>
        <meta charset="utf-8">
        <title>
            weather APP
        </title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <form action="/" method="post" class="central-form">
            <label for="cityInput">City Name</label>
            <input id="cityInput" type="text" name="cityName" placeholder="e.g.='Milan,it'">
            <button type="submit" name="button">go</button>
            <div class=<%= visibility %>>
                <p> the weather description: <%= weatherDescription %></p>
                <p> the temperature: <%= temp %></p>
                <img src=imgURL>
            </div>
        </form>
    </body>
</html>